
<h1>lets make our life better by wise sayings</h1>
<app-quote-form (add)="quoteAdded($event)" ></app-quote-form>

<div class="quot" *ngFor="let quotes of myQuotes; let i = index">
    <p>{{quotes.name}}</p>
    <p>{{quotes.title}}</p>
    <p>{{quotes.quote}}</p>
    <p>{{quotes.author}}</p>
    <p>{{quotes.datePosted|date:'short'}}</p>
    <app-quote-details  (isRead)='quotedelete($event,i)'></app-quote-details>
</div>
<!-- *ngIf="quote.showInfo" -->
<!-- <app-quote-details></app-quote-details> -->
