<div class="container-fluid">
    <form (ngSubmit)="addQuote() ; quotesForm.resetForm({})" #quotesForm="ngForm">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input type="text" required class="form-control" id="name" minlength="3"[(ngModel)]="myquote.name" name="title" #title ="ngModel">
                    
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="name">Quote Tittle</label>
                    <input type="text" required class="form-control" id="title" [(ngModel)]="myquote.title" name="name" #name = "ngModel">
                    
                  </div>
          
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="description">Quote</label>
                    <textarea class="form-control" id="quote" rows="2" required name="quote" [(ngModel)]="myquote.quote" name="quote" #quote = "ngModel"></textarea>
                    
                  </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="name">Quote Author</label>
                    <input type="text" required class="form-control" id="author" name="author" [(ngModel)]="myquote.author" name="author" #author = "ngModel">
                  
                  </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12 text-center pb-1x pt-1">
                <button type="submit" class="p-3 btn btn-sm btn-success">Add Quote</button>
            </div>
        </div>
    </form>
</div>