
<form action="">

    <label for="name">name</label> <br>
    <input class="form-control" type="text" name="name" id="name" placeholder="name">
     <br>
     <label for="date"></label> <br>
     <input type="date" placeholder="date" id="date">
    <label for="author">outhor's name</label> <br>
    <input class="form-control" type="text" name="author" id="author" placeholder="author"> 
    <br>
    <label for="quote">input quote</label><br>
    <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="quote"></textarea>
    <br>
    <button class="btn btn-primary p-3"  type="submit" id="add">Add quote</button>
</form>
