
<form action="">

    <label for="name">name</label> <br>
    <input type="text" name="name" required id="name" placeholder="name"> <br>
     <br>
     <label for="date"></label> <br>
     <input type="date" required placeholder="date" id="date"> <br> <br>
    <label for="author">outhor's name</label> <br>
    <input  type="text" name="author" id="author" required placeholder="author"> <br>
    <br>
    <label for="quote">input quote</label><br> 
    <textarea  name="" id="" required cols="30" rows="10" placeholder="quote"></textarea>
    <br>
    <button class="btn btn-primary"  type="submit" id="add">Add quote</button>
</form>
